@using EntityLayer.Concretes
@model Blog
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/_BlogDetailLayout.cshtml";
}

<div class="blog-grid-top">
    <div class="b-grid-top">
        <div class="blog_info_left_grid">
            <a href="#">
                <img src="/@Model.Image" class="img-fluid" alt="">
            </a>
        </div>
        <div class="blog-info-middle">
            <ul>
                <li>
                    <a href="#">
                        <i class="far fa-calendar-alt"></i> @Model.CreatedTime.ToShortDateString()
                    </a>
                </li>
                <li class="mx-2">
                    <a href="#">
                        <i class="far fa-user"></i> @Model.Writer.Name
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-bars"></i>@Model.Category.Name
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-comment"></i>15
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <h3>
        @Model.Title
    </h3>
    <p>
        @Model.Description
    </p>

</div>


@await Component.InvokeAsync("CommentListByBlog")
@await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")
  


